.user-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .comments-box {
    width: 60%; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 10px; /* Adjust the border-radius for rounded edges */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow as needed */
  }
  
  .comments-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .comments-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    min-height: 80px;
    font-size: 14px; /* Adjust the font size */
  }
  
  .comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .comment {
    border-bottom: 1px solid #ddd; /* Add a border between comments */
    padding: 10px;
  }
  
  .comment-content {
    margin-bottom: 5px;
  }
  
  .comment-time {
    color: #555;
    font-size: 12px; /* Adjust the font size for the timestamp */
    padding-right: 5px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
  }
  
  .commentbutton {
    margin-top: 2px;
    background-color: #000;
    color: #fff;
    font-size: 0.3rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  
    /* Apply button styles */
    background-color: #000;
    background-image: none;
    color: #fff;
    font-size: 0.7vw;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    border-radius: 99rem;
    border-width: 1px;
    overflow: hidden;
    padding: 0.3rem 0.9rem;
    position: relative;
  
    /* Add transform effect on hover */
    transition: transform 0.3s ease-in-out;
  }
  
  .commentbutton:hover {
    transform: scale(1.1);
  }
  
  