/* Updated styles for the link container */
.nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-container {
  display: flex;
  gap: 0rem; /* Adjust the gap as needed */
  align-items: center;
}

.nav-link-container .active {
  font-weight: bold;
}

/* Additional style to reduce spacing between SignUp and Login buttons */
.nav-link-container .nav-btn + .nav-btn {
  margin-left: 0.2rem; /* Adjust the margin as needed */
}
